* {
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  background-color: thistle;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

#wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#member {
  display: flex;
  justify-content: space-around;
}

#member div p {
  margin-bottom: 10px;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.currentPlay {
  background: #fff;
  padding: 2px;
  border-radius: 100%;
  display: none;
  width: 20px;
  height: 20px;
}

#buttons button {
  font-size: 2rem;
  margin-top: 20px;
}

button {
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 0px rgb(127, 97, 127);
  cursor: pointer;
}

button:active {
  box-shadow: 0px 0px 8px 0px rgb(127, 97, 127);
}

button#replay {
  color: rgb(127, 97, 127);
  display: block;
  width: 100%;
  margin-top: 20px;
  font-weight: 900;
}
